<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email send example</title>
</head>
<body>
    <p>
        <img src="Logo.png" alt="Logo image" th:src="|cid:${logo}|">
    </p>
    <div>Welcome By <th:block th:text="${username}"></th:block></div>
    <p>
		We appriciate your joining request.

		We are thrilled to have you join our team! Your skills and talents will be a great addition to our organization. We believe that with your contribution, we can achieve even greater success together.

		If you have any questions or need any assistance, please feel free to reach out to your team or the HR department. We're here to support you every step of the way.

		Once again, welcome aboard! We look forward to achieving great things together.

		Thank You
	</p>
</body>
</html>